#alerta-antifa-hover{
    position:fixed;
    background:#000;
    width:100%;
    height:100%;
    opacity: .8;
    top: 0;
    z-index:9997;
}

#alerta-antifa-popup{
    position:absolute;
    width:800px;
    height:240px;
    background:#fff;
    left:50%;
    top:50%;
    border-radius:5px;
    padding:30px 0;
    margin-left:-320px; /* width/2 + padding-left */
    margin-top:-150px; /* height/2 + padding-top */
    text-align:center;
    box-shadow:0 0 10px 0 #000;
    z-index:9998;

}

#alerta-antifa-popup h2 span{
    color:#000000;
    font-size:24px;
    margin-bottom:20px;
    font-weight:bold;
    margin:20px 0;

}
#alerta-antifa-close{
    position:absolute;
    background:black;
    color:white;
    right:-15px;
    top:-15px;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    font-family:'Arial Black', Arial, sans-serif;
    cursor:pointer;
    box-shadow:0 0 10px 0 #000;
    z-index:9999;
}